<h2>All Animals</h2>

<% @all_animals.each() do |an_animal| %>
<ul>
  <li>Name: <%= an_animal.name %></li>
  <li>Last Name: <%= an_animal.age %></li>
  <li>House: <%= an_animal.admission_date %></li>
  <li>Age: <%= an_animal.adoptable %></li>
</ul>
<% end %>