<!DOCTYPE html>
<html>
<head>
  <title>Animal Shelter</title>
  <link rel="stylesheet" type="text/css" href="/styles/main.css">
</head>
<body>

<nav>
  <a href ="/animals">All Animals</a>
  <a href ="/animals/new">Add new Animals</a>
  <a href ="/owners">List/Add Owners</a>
  <a href ="/animals/assign_owner">Assign owners</a>


 

</nav>
  <%= yield %>
</body>
</html>