<!DOCTYPE html>
<html>
<head>
  <title>Animal Shelter</title>
</head>
<body>

<nav>
  <a href ="/animals">All Animals</a>
  <a href ="/animals/new">Add new Animals</a>
  <a href ="/animals/assign_owner">Add new owner</a>

</nav>
  <%= yield %>
</body>
</html>