<!DOCTYPE html>
<html>
<head>
  <title>Animal Shelter</title>
</head>
<body>

<nav>
  <a href ="/animals">All Animals</a>
  <a href ="/animals/new">Add new Animals</a>
  <a href ="/owner/new">Add new Owner</a>
  <a href ="/animals/:id/delete">Remove Animal</a>

  <a href ="/animals/assign_owner">Assign owner</a>

</nav>
  <%= yield %>
</body>
</html>