<form action='/animals' method="POST">
<br><br><br>
<label for="name">Name:</label>
<input type="text" id="name" name="name"/>

<label for="age">Age:</label>
<input type="text" id="age" name="age"/>

<label for="admission_date">Admission Date: </label>
<input type="text" id="admission date" name="admission_date"/>

<label for="adoptable">Adoptable?</label>
<input type="checkbox" id="adoptable" name="adoptable"/>

<label>
  Select an owner:
  <select name="owner_id">
    <% for owner in @owners %>
    <option value="<%= owner.id %>"><%= owner.name %></option>
    <% end %>
  </select>
</label>


<input type="submit" value="Add Animal to list">

</form>