<form action='/animals' method="POST">

<label for="name">Name:</label>
<input type="text" id="name" name="name"/>

<label for="age">Age:</label>
<input type="text" id="age" name="age"/>

<label for="admission_date">Admission Date:</label>
<input type="text" id="admission date" name="admission_date"/>

<label for="adoptable">Adoptable?</label>
<input type="text" id="adoptable" name="adoptable"/>

<label for="owner">Owner:</label>
  <select id="owner" name="owner">
   <option value="Lewis">Lewis</option>
   <option value="Bill">Bill</option>
  </select>


<input type="submit" value="Add Animal to list">



</form>