<br> 


<form action='/owners' method="POST">
  <br><br><br>
  <label for="name">Name:</label>
  <input type="text" id="name" name="name"/>
  <input type="submit" value="Add new owner">
</form>
<br>

<% @all_owners.each() do |an_owner| %>
<ul>
  <li>Owner Name: <%= an_owner.name %></li>
  <li> Pet(s) owned: <% if an_owner.animal == []%>
                     <%='No pets at present :(' %>
                     <% else %>
                     <%= an_owner.animal.count %></li>
                     <% end %>
                     </li>Pet Name(s):
    <% an_owner.animal.each() do |an_animal| %>
       <%= an_animal.name %>,  </li>
      <% end %>
 

</ul>

<hr>

<% end %>
<br><br><br>