<h2>All Owners</h2>

<% @all_owners.each() do |an_owner| %>
<ul>
  <li>Owner Name: <%= an_owner.name %></li>
  <li> Pet(s) owned: </li>
</ul>


      <% @all_animals.each() do |an_animal| %>
          <p> <% if an_animal.owner_id == an_owner.id %>
          <%= an_animal.name %>
          <% elsif an_animal.owner_id != an_owner.id %>
          <%= "No Pets owned" %>
          <% break %>
          <% end %></p>
      <% end %>


<% end %>