<br> <br>
<h1>All Owners</h1>
<br>
<% @all_owners.each() do |an_owner| %>
<ul>
  <li>Owner Name: <%= an_owner.name %></li>
  <li> Pet(s) owned: <% if an_owner.animal == []%>
                     <%='No pets at present :(' %>
                     <% else %>
                     <%= an_owner.animal.count %></li>
                     <% end %>
                     </li>Pet Name(s):
    <% an_owner.animal.each() do |an_animal| %>
       <%= an_animal.name %>,  </li>
      <% end %>
 

</ul>

<hr>

<% end %>