<h2>All Owners</h2>

<% @all_owners.each() do |an_owner| %>
<ul>
  <li>Owner Name: <%= an_owner.name %></li>
  <li> Pet(s) owned: <% if an_owner.animal == []%>
                     <%='No pets at present :(' %>
                     <% else %>
                     <%= an_owner.animal.count %></li>
                     <%  num = an_owner.animal.count -1 %>
                     <li>
                     <%= an_owner.animal.first.name%>
                     <% end %>
                     </li>
    
 

</ul>

<hr>

<% end %>