body {
  background: url('../images/background.jpg');
  background-size: relative;
  background-repeat: repeat;
  background-size: cover;
  background-position: initial;
  font-family: '', serif;
  padding: 20px;
  margin: 0px;
}

h1 {
  font-size: 1.5em;
  color: black;
  margin-bottom: 20px;
}

table{
  padding-left: 15em;
  padding-bottom: 10em;
}
nav, a {
  padding: 0px;
  margin: 0px;
  padding-right: 25px;
  color: white;
}


ul {
  padding: 0px;
  margin: 0px;
  list-style-type: asterisks;
}

